name: test

on:
  push:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true

env:
  LOG_LEVEL: debug

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          show-progress: false

      - name: Setup pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          standalone: true

      - name: Setup Node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: .node-version
          cache: pnpm

      - run: pnpm install
      - run: pnpm prettier

  preset:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    container:
      image: ghcr.io/renovatebot/renovate:43.8.0@sha256:72078bcbc46e696e1a3dfe449ac7d4b280b0a55b7dc91913a4f1a89c4a27a3ea
      # github hosted runners are running as `1001:127` (ubuntu:docker)
      options: -u 1001:0 --group-add 1000 --group-add 12021 --group-add 127

    strategy:
      matrix:
        file:
          - default
          - renovate-config
          - merge-queue
          - .github/renovate

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          show-progress: false

      - name: testing ${{ matrix.file }}
        run: renovate-config-validator --no-global ${{ matrix.file }}.json

  preset-success:
    runs-on: ubuntu-latest
    needs:
      - preset
      - lint
    timeout-minutes: 1
    if: always()
    steps:
      - name: Fail for failed or skipped lint
        if: |
          needs.lint.result == 'failure' ||
          needs.lint.result == 'skipped'
        run: exit 1
      - name: Fail for failed or skipped presets
        if: |
          needs.preset.result == 'failure' ||
          needs.preset.result == 'skipped'
        run: exit 1
