name: test

on:
  push:
  pull_request:

env:
  LOG_LEVEL: debug
  RENOVATE_VERSION: 38.131.1 # renovate: datasource=npm depName=renovate

jobs:
  preset:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    strategy:
      matrix:
        file:
          - default
          - renovate-config
          - merge-queue
    env:
      RENOVATE_CONFIG_FILE: ${{ matrix.file }}.json

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: testing ${{ matrix.file }}
        run: npx -p renovate@${{env.RENOVATE_VERSION}} renovate-config-validator

  preset-success:
    runs-on: ubuntu-latest
    needs: 
      - preset
    timeout-minutes: 1
    if: always()
    steps:
      - name: Fail for failed or cancelled presets
        if: |
          needs.test.result == 'failure' ||
          needs.test.result == 'cancelled'
        run: exit 1
